.galaxy{
    position:absolute;
    box-shadow:0 0 0px #aaaaFF;

    transition:box-shadow 400ms;
}

.galaxy.hover{
    box-shadow:0 0 20px #aaaaFF !important;
    transition:box-shadow 400ms;
}

.glx-name{
    text-align:center;
    color:white;
    font-size:50px;
    opacity:0;

    transition: opacity 400ms;
}

div div.glx-name.hover{
    opacity: 1;
    transition: opacity 400ms;
}

.glx-name span{
    display:block;
    margin-top:-150px;
    -webkit-box-reflect: below -19px -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(250, 250, 250, 0.1) );
}