.galacticObject{
	width: 60px;
	height: 60px;
	border: 6px dashed red;
	opacity: 0.8;
	border-radius: 36px;
	box-shadow: 0px 0px 28px rgb(128, 0, 0);
	background-color: rgba(128, 0, 0, 0.16);
	transition:opacity 500ms, box-shadow 500ms, border-color 500ms;
}

.galacticObject.hover{
	transition:opacity 200ms, box-shadow 200ms, border-color 500ms;
	opacity:1;
	border-color: rgb(255, 255, 255);
	box-shadow: 0 0 60px rgb(128, 0, 0),0 0 60px 10px white;
}