
body{
	background-color:black;
	margin:0;
	color:white;
	height:100%;
	width:100%;
	overflow:hidden;

	-webkit-user-select:none;
}

canvas{
	display:block;
	width:100%;
}

.none{
	display:none !important;
}

.invisible{
	opacity:0 !important;

	transition: opacity 500ms;
}

#hud, #loading{
	top:0;
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}

#loading{
	background-color:#111;
	z-index:100;
	opacity:1;
	transition: opacity 2s;
}