
/* RIGHT MENU */
#i-rightMenu{
	display:flex;
	align-items:center;
	flex-direction:row;
	position: absolute;

	top: 0;
	right: -350px;
	width: 400px;
	height: 100%;

	z-index:10;
}
#i-rightMenu .controller{
	display:flex;
	justify-content:flex-end;
	width:50px;
	height:50%;
}
#i-rightMenu .controller img{
	margin-right:5px;
	-webkit-transform: scaleX(-1);
}

#i-rightMenu .content{
	width: 350px;
	height: 100%;
	background-color: #333;
	border: 2px solid #494949;
	overflow-y:auto;
}
#i-rightMenu .content ul{
	list-style: none;
	padding: 0;
	margin: 20px;
	background-color: #121212;
	width: 75%;
	border-radius: 10px;
	box-shadow: 1px 1px 2px #555;
}
#i-rightMenu .content ul li{
	padding: 5px 20px;
	border-bottom: thin solid #333;
	border-right: 0px inset white;

	transition:border 200ms;
}
#i-rightMenu .content ul li.title{
	padding: 5px 20px;
	text-align:center;
	border-bottom: thin solid #333;
	border-right: 0px inset white !important;
}
#i-rightMenu .content ul li:first-child{
	border-top-right-radius: 5px;
}
#i-rightMenu .content ul li:last-child{
	border-bottom-right-radius: 5px;
}
#i-rightMenu .content ul li.hover{
	padding: 5px 20px;
	border-bottom: thin solid #333;
	border-right: 5px inset white;

	transition:border 200ms;
}
#i-rightMenu .content ul li.hover[data-galaxy]
{
	border-right: 5px inset #aaaaFF;
}
#i-rightMenu .content ul li.hover[data-system]
{
	border-right: 5px inset red;
}
#i-rightMenu .content ul li.hover[data-planet]
{
	border-right: 5px inset green;
}
#i-rightMenu .content ul li h1{
	font-size: 1.5em;
	margin: 5px 0 0;
}
#i-rightMenu .content ul li div{
	display:flex;
	flex-wrap:wrap;
}
#i-rightMenu .content ul li div p{
	margin: 5px;
	font-size: 0.9em;
	color: #ccc;
}
#i-rightMenu .content ul li div p span{
	font-weight:bold;
}
/* TOP MENU */
#i-topMenu{
	position: absolute;
	top: -350px;
	width: 100%;
	height: 300px;
	z-index: 10;
}
#i-topMenu .controller{
	width: 100%;
	text-align: center;
	height:50px;
}
#i-topMenu .controller img{
	margin-top: -80px;
	-webkit-transform: rotateZ(90deg);
}

#i-topMenu .content{
	display:flex;
	flex-direction:column;

	padding-top:50px;
	height: 300px;
	width:100%;
	background-color:#333;
	border-bottom: 2px solid #2a2a2a;
	box-shadow: 0 1px 5px black;
}

#i-topMenu .content nav{
	width:700px;
	margin:0 auto;
}

#i-topMenu .content nav ul{
	padding:0 0 0 10px;
	list-style:none;
}

#i-topMenu .content nav ul li{
	float: left;
	padding: 10px;
	margin: 0 3px;
	background-color: #111;
	border-top-right-radius: 10px;
	box-shadow: -1px -1px 1px #444, 1px 1px 1px black;
	border-left:0px inset red

	transition: border 200ms;
}

#i-topMenu .content nav ul li.selected{
	border-left:5px inset red;

	transition: border 200ms;
}
#i-topMenu .content > div{
	display:none;
	width:700px;
	margin: 0 auto;
	border-radius: 10px;
	padding-left:25px;
	height: 230px;
	background-color: #111;
	box-shadow: -1px -1px 1px black, 1px 1px 1px #444;
}
#i-topMenu .content > div.active{
	display:flex;
	flex-direction:row;
}
#i-topMenu .content > div.active div{
	padding: 0 25px;
	text-align: center;
	margin-top: 25px;
	border-right: thin solid #555;
	height: 80%;
}
#i-topMenu .content > div.active div h1{
	margin-top:0;
}
#i-topMenu .content > div.active div section{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
#i-topMenu .content > div.active section p {
	margin: 5px;
	text-align: center;
	width: 45%;
}
#i-topMenu .content > div.active div label{
	display:block;
}
#i-topMenu .content > div.active div:last-child{
	border:none;
}

/* LEFT MENU*/
#i-leftMenu{
	display:flex;
	align-items:center;
	flex-direction:row;
	justify-content:flex-end;
	position: absolute;

	top: 0;
	left: -350px;
	width: 400px;
	height: 100%;

	z-index:10;
}
#i-leftMenu .controller{
	display:flex;
	width:50px;
	height:50%;
}

#i-leftMenu .controller img{
	margin-left:5px;
}

#i-leftMenu .content{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-color:#333;
	border: 2px solid #494949;
	padding-left:45px;
	width: 303px;
	height:100%;
}

#i-leftMenu .content div{
	background-color:#111;
	margin-top:2px;
	color:#ccc;
	width:294px;
	height:50px;
}

#addGalaxy{
	border-left:10px inset lime;
}

#removeUniverse{
	border-left:10px inset red;
}

/* TITLE */
#i-title{
	position:absolute;
	width:100%;
	text-align:center;
	font-size:35px;
	top:45px;
	opacity:1;

	transition: opacity 500ms;
}

/* TOP BUTTONS */
#i-btns{
	position:Absolute;
	top:20px;
	display:flex;
	flex-direction:row;
	margin-left: 30px;
}
#i-btns div{
	

	width:64px;
	height:64px;

	margin:20px;
	opacity:0.5;

	z-index:9;

	transition: opacity 500ms;
}
#i-btns div img{
	width:64px;
	height:64px;
}

/*Planet dialog*/
#i-moonDialog{
	position: absolute;
	top: 150px;
	left: 200px;
	height: 350px;
	background-color: rgba(51, 51, 51, 0.79);
	border-radius: 10px;
	box-shadow: 1px 1px 0 rgba(10,10,10,0.5), -1px -1px 0 rgba(100,100,100,0.5);

	z-index:10;
	opacity:1;

	transition: opacity 500ms;
}
#i-moonDialog h1{
	margin: 10px;
	text-align: center;
}
#i-moonDialog > div{
	margin: 0px 20px;
	border-radius: 10px;
	padding: 0 25px;
	height: 275px;
	background-color: #111;
	box-shadow: -1px -1px 1px black, 1px 1px 1px #444;
}
#i-moonDialog > div table{
	padding-top: 18px;

}
#i-moonDialog > div table td{
	border:thin solid rgb(51, 51, 51);
	padding:5px;
}