.planet{
    position:absolute;
    box-shadow:0 0 0px green;

    transition:box-shadow 400ms;
}

.planet.hover{
    box-shadow:0 0 20px green !important;
    transition:box-shadow 400ms;
}

.planet-name{
    text-align:center;
    color:white;
    font-size:10px;
    opacity:0;

    transition: opacity 400ms;
}

div div.planet-name.hover{
    opacity: 1;
    transition: opacity 400ms;
}

.planet-name span{
    display:block;
    margin-top:-50px;
    -webkit-box-reflect: below -19px -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(250, 250, 250, 0.1) );
}